.game {
	border: 1px solid #333;
	/*background-color: #EEEEEE;*/
}

/* Global Common DIV values */
.rts {
  margin: auto;
  width: 50%;
  text-align: center;
  border: 3px solid #333333;
  padding: 10px;
  overflow: auto;
  border-radius: 25px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  font-family: Verdana,Geneva,sans-serif; 
}

#footer {
	color: white;
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: Verdana,Geneva,sans-serif; 
	font-size: small;
}

/* Main ROW */
.box {
	display: flex;
	justify-content: space-between;
}

#gamescore {
	width: 30%;
}
#gameview {
	width: 30%;
}
#gametimer {
	width: 30%;
	font-size: xx-large;
	vertical-align: middle;
	text-align: center;
}

#buttonsrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#letsgo:enabled {
  background-color: #4CAF50; /* Green */
  border: solid 1px;
  border-color: #00FF00;
  color: red;	
}

#letsgo:disabled {
  background-color: #999999; /* Gray */
  border: solid 1px;
  border-color: #000000;
  color: black;	
}

#gameview {
  background-color: #FFFFFF;
}

#inputs {
	background-color: #EEEEEE;
}

#scaleRange, #rotateRange, #letsgo {
	display: block;
}

body {
  background-color: #444444;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
